/* Imports DM Sans, Heebo, Lato, and Black Ops One */
@import url("https://fonts.googleapis.com/css2?family=DM+Sans&family=Heebo&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Black+Ops+One&family=DM+Sans:opsz,wght@9..40,200&display=swap");

/* Defaults */

* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

button,
fieldset,
input,
legend,
select,
textarea {
  appearance: none;
}

input[type="radio"] {
  width: 20px;
  height: 20px;
  border: 2px solid #555555;
  border-radius: 50%;
  background-clip: content-box;
  padding: 3px;
}

input[type="radio"]:checked {
  background-color: #555555;
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.header > h1 {
  text-align: center;
  font-family: "Black Ops One", sans-serif;
  font-size: 3rem;
  letter-spacing: 0.2rem;
  color: white;
  -webkit-text-stroke: 1px black;
  background-color: silver;
  margin: 0;
  padding: 1rem;
}

.gameStatus > h2 {
  text-align: center;
}

.gameboards {
  flex: 1;

  display: flex;
  justify-content: space-around;
}

.board {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);
  width: 500px;
  height: 500px;
  border: 1px solid black;
  background-color: black;
  gap: 1px;
}

.boardCell {
  background-color: white;
}

:is(.player, .computer) > h3 {
  text-align: center;
}

.placeShipsForm {
  width: 800px;
  margin: 3rem auto 3rem auto;
}

.placementGrid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);

  border: 1px solid black;
  background-color: black;
  gap: 1px;
}

.submitRow {
  grid-column: 1 / 5;
  text-align: center;
  padding: 10px;
}

.placementGrid > * {
  background-color: white;
}

.placementGrid :is(p, h4) {
  margin: 0;
}

.alignment > input {
  width: 20px;
  height: 20px;
  border: 1px solid black;
}

.position > input {
  width: 1.5rem;
  text-align: center;
}
